@model IEnumerable<PaymentDto>
@using NonFactors.Mvc.Grid
@using Taavoni.DTOs
@using Taavoni.DTOs.Payment
@using DNTPersianUtils.Core

@{
  int number =0;
}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">جزئیات پرداخت</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">پرداخت ها</h6>
  </div>
  <div class="card-body">


    <div class="row p-2">
      <a asp-area="Admin" asp-controller="Payment" asp-action="CreatePayment" class="btn btn-primary btn-icon-split"
        style="margin: 5;">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">جدید</span>
      </a>

    </div>


    <div class="table-responsive">
      <table class="table table-bordered" id="paymentTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>ایمیل</th>
            <th> مبلغ بدهی</th>
            <th>مبلغ پرداختی</th>
            <th>عنوان</th>
            <th>پیوست</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            number+=1;
            <tr>
              <th>@number.ToString().ToPersianNumbers()</th>
              <th>@item.Name</th>
              <th>@item.UserName</th>
              <th>@item.DebtAmountWPR.ToString("N0").ToPersianNumbers()</th>
              <th>@item.Amount.ToString("N0").ToPersianNumbers()</th>
              <th>@item.Title</th>
              <th>@item.AttachmentPath</th>
              <th>
                <a asp-action="edit" asp-route-id="@item.id" class="btn btn-warning btn-circle btn-sm">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </th>

            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>


  @section Scripts {
    <script>

 $(document).ready(function () {
        newTable('#paymentTable', [0,3,4]);
      });
    </script>


    <!-- Page level plugins -->
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/assets/js/demo/datatables-demo.js"></script>
  }
