@model taavoni3.Areas.Admin.ViewModel.EditUserViewModel

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">ویرایش کاربر</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">فرم ویرایش کاربر</h6>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="Id" />
                <!-- نام  -->
                <div class="form-group">
                    <label asp-for="Name" class="font-weight-bold text-dark">نام </label>
                    <input asp-for="Name" class="form-control form-control-user"
                        placeholder="نام و نام خانوادگی را وارد کنید" />
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <!-- نام کاربری -->
                <div class="form-group">
                    <label asp-for="UserName" class="font-weight-bold text-dark">نام کاربری</label>
                    <input asp-for="UserName" class="form-control form-control-user"
                        placeholder="نام کاربری را وارد کنید" />
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>

                <!-- ایمیل -->
                <div class="form-group">
                    <label asp-for="Email" class="font-weight-bold text-dark">ایمیل</label>
                    <input asp-for="Email" class="form-control form-control-user" placeholder="ایمیل را وارد کنید" />
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>

                <!-- پسورد جدید -->
                <div class="form-group">
                    <label asp-for="NewPassword" class="font-weight-bold text-dark">پسورد جدید</label>
                    <input asp-for="NewPassword" type="password" class="form-control form-control-user"
                        placeholder="پسورد جدید را وارد کنید" />
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>

                <!-- تایید پسورد -->
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="font-weight-bold text-dark">تایید پسورد جدید</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                        placeholder="تایید پسورد جدید را وارد کنید" />
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">ذخیره تغییرات</button>
            </form>
        </div>
    </div>
</div>
