@model IEnumerable<DebtDetailDTO>
@using NonFactors.Mvc.Grid
@using System.Globalization
@using Taavoni.DTOs


<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Debt Details</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">


    <div class="row p-2">
      <a asp-area="Admin" asp-controller="Debt" asp-action="Create" class="btn btn-primary btn-circle"
        style="margin: 5;">
        <i class="fas fa-plus"></i></a>
      <form asp-action="ApplyDailyPenalty" method="post">
        <span> </span>
        <button type="submit" class="btn btn-warning btn-circle ml-3">
          <i class="fas fa-redo-alt"></i>
        </button>
      </form>
    </div>


    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>نام</th>

            <th>عنوان بدهی</th>
            <th>مبلغ</th>
            <th>تاریخ سررسید</th>
            <th>درصد جریمه روزانه</th>
            <th>مبلغ باقیمانده</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>نام</th>

            <th>عنوان بدهی</th>
            <th>مبلغ</th>
            <th>تاریخ سررسید</th>
            <th>درصد جریمه روزانه</th>
            <th>مبلغ باقیمانده</th>
            <th>عملیات</th>
          </tr>
        </tfoot>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <th>@item.Id</th>
              <th>@item.Name</th>
              <th>@item.DebtTitleName</th>
              <th>@item.Amount</th>


              <td>
                @{
                  var persianDate = "";
                  if (item.DueDate != DateTime.MinValue)
                  {
                    var persianCalendar = new PersianCalendar();
                    var date = item.DueDate.Date;
                    persianDate =
                    $"{persianCalendar.GetYear(date):0000}/{persianCalendar.GetMonth(date):00}/{persianCalendar.GetDayOfMonth(date):00}";
                  }
                  else
                  {
                    persianDate = "تاریخ معتبر نیست"; // یا می‌توانید تاریخ پیش‌فرض بگذارید
                  }
                }
                @persianDate
              </td>



              <th>@item.PenaltyRate</th>
              <th>@item.RemainingAmount</th>
              <th>
                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </th>

            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>


  @section Scripts {
    <script>

    </script>


    <!-- Page level plugins -->
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/assets/js/demo/datatables-demo.js"></script>
  }
