@model IEnumerable<DebtDetailDTO>
@using NonFactors.Mvc.Grid
@using System.Globalization
@using Taavoni.DTOs
@using DNTPersianUtils.Core


@{
  int number = 0;
}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">جزئیات بدهی ها</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">لیست بدهی</h6>
  </div>
  <div class="card-body">


    <div class="row p-2">
      <a asp-area="Admin" asp-controller="Debt" asp-action="Create" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">جدید</span>
      </a>
      <form asp-action="ApplyDailyPenalty" method="post">
        
        <button type="submit" class="btn btn-warning btn-icon-split mr-2">
          <span class="icon text-white-50">
         <i class="fas fa-redo-alt"></i>
      </span>
          <span class="text">بروزرسانی</span>
        </button>
      </form>
    </div>
    

    <div class="table-responsive">
      <table class="table table-bordered" id="debttable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ردیف</th>
            <th>نام مالک</th>
            <th>ایمیل</th>
            <th>عنوان بدهی</th>
            <th>مبلغ</th>
            <th>تاریخ سررسید</th>
            <th>درصد جریمه روزانه</th>
            <th>مبلغ بدهی با جریمه</th>
            <th>عملیات</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var item in Model)
          {
            number += 1;
            <tr>
              <th>@number.ToPersianNumbers()</th>
              <th>@item.Name</th>
              <th>@item.UserName.ToString()</th>
              <th>@item.DebtTitleName</th>
              <th>@item.Amount.ToString("N0").ToPersianNumbers()</th>


              <td>@item.DueDate.ToShortPersianDateString().ToPersianNumbers()
              </td>



              <th>@item.PenaltyRate.ToString().ToPersianNumbers()</th>
              <th>@item.AmountWithPenaltyRate.ToString("N0").ToPersianNumbers()</th>
              <th>
                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </th>

            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>


  @section Scripts {
    <script>
      $(document).ready(function () {
        newTable('#debttable', [4,6,7]);
      });
    </script>


    <!-- Page level plugins -->
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/assets/js/demo/datatables-demo.js"></script>
  }
